@media (max-width: 1600px) {

    .container {
        max-width: 1440px;
    }

    .location-card-img,
    .location-card-content {
        max-width: 350px;
        max-height: 350px;
    }

    .services-cards {
        justify-content: center;
        gap: 50px 150px;
    }

    .wecan-cards {
        justify-content: center;
        gap: 50px;
    }

    .send-form input {
        width: 470px;
    }

}

@media (max-width: 1440px) {

    .container {
        max-width: 1336px;
    }

    .types-cards {
        justify-content: center;
        gap: 30px 70px;
    }

    .catalog-cards {
        justify-content: center;
        gap: 30px 120px;
    }

    .why-video video,
    .why-desc {
        width: 668px;
        height: 377px;
    }

    .why-desc {
        padding: 0 0 0 25px;
    }

    .why-desc-title {
        margin-bottom: 15px;
    }

    .location-card-img,
    .location-card-content {
        max-width: 320px;
        max-height: 320px;
    }

    .services-cards {
        gap: 50px 100px;
    }

    .info-card {
        max-width: 630px;
    }

    .info-card-title {
        font-size: 24px;
    }

    .info-card-txt {
        font-size: 18px;
    }

    .trade-card {
        max-width: 430px;
    }

    .send-form input {
        width: 430px;
    }

}

@media (max-width: 1336px) {

    .container {
        max-width: 1290px;
    }

    .location-card-img,
    .location-card-content {
        max-width: 400px;
    }

    .info-txt {
        font-size: 18px;
        margin: 0 auto 10px;
    }

    .trade-card {
        max-width: 400px;
    }

    .send-form input {
        width: 400px;
    }

}

@media (max-width: 1290px) {

    .container {
        max-width: 1140px;
    }

    .types-cards {
        gap: 30px 50px;
    }

    .why-video video,
    .why-desc {
        width: 570px;
        height: 320px;
    }

    .why-desc-item {
        font-size: 16px;
        margin: 0px 0 10px 20px;
    }

    .info-card-content {
        margin-left: 10px;
    }

    .info-card {
        max-width: 550px;
    }

    .trade-card {
        max-width: 360px;
    }

    .send-form input {
        width: 360px;
    }

}

@media (max-width: 1140px) {

    .container {
        max-width: 1024px;
    }

    .header-list {
        position: fixed;
        right: -180px;
        top: 0;
        bottom: 0;
        width: 180px;
        overflow-y: auto;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background: #222;
        transition: .8s;
    }

    .header-item {
        margin-left: 0;
        padding: 15px;
    }

    .menu,
    .close {
        display: block;
    }

    .catalog-cards {
        gap: 30px 70px;
    }

    .why-video video,
    .why-desc {
        width: 512px;
        height: 400px;
    }

    .services-cards {
        gap: 30px;
    }

    .info-card {
        max-width: 500px;
    }

    .trade-cards {
        justify-content: center;
        gap: 50px;
    }

    .send-form input {
        width: 330px;
    }

}

@media (max-width: 1024px) {

    .container {
        max-width: 992px;
    }

    .swiper-title,
    .swiper-txt {
        text-shadow: 1px 1px 50px #fff;
    }

    .info-card {
        max-width: 490px;
    }

    .send-form input {
        width: 320px;
        padding: 15px;
    }

}

@media (max-width: 992px) {

    .container {
        max-width: 892px;
    }

    .big {
        display: none;
    }

    .small {
        display: block;
    }

    .swiper-banner img {
        object-position: center;
    }

    .swiper-content {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 400px;
    }

    .swiper-btn {
        margin: 0 auto;
    }

    .swiper-content {
        text-align: center;
    }

    .types-cards {
        gap: 10px 70px;
    }

    .why-video video,
    .why-desc {
        width: 446px;
        height: 400px;
    }

    .info-cards {
        justify-content: center;
    }

    .info-card {
        max-width: 700px;
    }

}

@media (max-width: 800px) {

    .container {
        max-width: 768px;
    }

    .category .container {
        gap: 50px 100px;
    }

    .why-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .why-video video,
    .why-desc {
        width: 100%;
        height: 400px;
    }

    .why-desc-title {
        text-align: center;
    }

}

@media (max-width: 768px) {

    .container {
        max-width: 684px;
    }

    .location-card-txt {
        font-size: 16px;
    }

}


@media (max-width: 684px) {

    .container {
        max-width: 576px;
    }

    .types-cards {
        gap: 0;
    }

    .types-card {
        margin-bottom: 10px;
    }

    .swiper-content {
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 400px;
    }

    .location-card-img,
    .location-card-content {
        max-width: 290px;
    }

    .services-cards {
        gap: 30px 5px;
    }

    .services-card-img {
        max-width: 330px;
        max-height: 250px;
    }

}

@media (max-width: 576px) {

    .container {
        max-width: 480px;
    }

    .category .container {
        gap: 50px;
    }

    .swiper-title {
        font-size: 36px;
    }

    .swiper-txt {
        font-size: 32px;
    }

    .catalog-cards {
        gap: 30px;
    }

    .catalog-card {
        width: 220px
    }

    .location-card {
        flex-direction: column;
    }

    .location-card-img,
    .location-card-content {
        max-width: 390px;
    }

    .footer .container {
        justify-content: center;
        gap: 30px;
    }

    .info-txt,
    .wecan-card-txt,
    .info-card-txt {
        width: 100%;
        font-size: 16px;
    }

    .wecan-card {
        margin-bottom: 0;
    }

    .banner-title {
        font-size: 36px;
    }

    .banner-subtitle {
        font-size: 24px;
    }

    .banner-video video {
        height: 480px;
    }

    .info-card-title {
        font-size: 18px;
    }

}

@media (max-width: 480px) {

    .container {
        max-width: 414px;
    }

    .category .container {
        gap: 35px;
    }

    .swiper-txt {
        font-size: 26px;
    }

    .catalog-cards {
        gap: 0;
    }

    .catalog-card {
        width: 250px;
        margin-bottom: 25px;
    }

    .footer-list {
        max-width: 160px;
        width: 100%;
    }

}

@media (max-width: 414px) {

    .container {
        max-width: 390px;
    }

    .header-link {
        font-size: 18px;
    }

    .header-item {
        padding: 10px;
    }

    .swiper-banner {
        height: 480px;
    }

    .swiper-title {
        font-size: 36px;
    }

    .swiper-txt {
        font-size: 24px;
    }

    .swiper-btn {
        height: 40px;
        max-width: 170px;
    }

    .swiper-title {
        font-size: 32px;
    }

    .swiper-txt {
        font-size: 18px;
    }

    .category .container {
        gap: 30px;
    }

    .why-video video {
        width: 370px;
        height: 370px;
    }

    .why-desc {
        width: 370px;
        height: 500px;
    }

}

@media (max-width: 390px) {

    .container {
        max-width: 360px;
    }

    .why-video video {
        width: 320px;
        height: 320px;
    }

    .why-desc {
        width: 320px;
        height: 400px;
    }

    .why-desc-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .why-desc-item {
        font-size: 15px;
        margin: 0px 0 5px 10px;
    }

    .location-card-img,
    .location-card-content {
        max-width: 360px;
    }

    .footer-list {
        max-width: 250px;
        width: 100%;
    }

}


@media (max-width: 360px) {

    .container,
    .location-card-img,
    .location-card-content {
        max-width: 320px;
    }

    .swiper-title {
        font-size: 24px;
    }

}

@media (max-width: 320px) {

    .container,
    .location-card-img,
    .location-card-content {
        max-width: 290px;
    }

    .category .container {
        gap: 20px;
    }

    .why-video video {
        width: 290px;
        height: 290px;
    }

    .why-desc {
        width: 290px;
        height: 400px;
    }

}