@import 'font.css';
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

:root {
    --accent: #47d698;
    --text: #ccc;
    --back: #111;
    --btn: #f51616;
    --btnHover: #de0a0a;
    --link: #999;
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}

::selection {
    background: var(--accent);
    color: #fff;
    text-shadow: none;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-button {
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: #252525;
}

::-webkit-scrollbar-thumb {
    height: 30px;
    width: 2px;
    background-color: var(--accent);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

::-webkit-resizer {
    background-color: #fff;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: "SF";
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    background: var(--back);
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    color: #000;
    background: var(--accent);
    font-size: 14px;
    transition: .4s;
    padding: 0 30px;
    line-height: 38px;
}

.btn:hover {
    box-shadow: 0 0 15px var(--accent);
}

.txt {
    max-width: 760px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 20px;
}

.name {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.title {
    text-align: center;
    color: #fff;
    font-size: 32px;
    margin-bottom: 20px;
}

/* header start */

.header-nav {
    background: #222;
    border-bottom: 1px solid #2f2f2f;
    box-shadow: 0px 0px 30px 0px #171717;
    height: 70px;
    display: flex;
    align-items: center;
}

.header-nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.header-list {
    display: flex;
    z-index: 999;
}

.header-item {
    margin-left: 15px;
}

.header-link {
    color: var(--link);
    text-transform: uppercase;
    font-size: 20px;
    transition: .5s;
}

.header-link:hover {
    color: var(--accent);
}

.header-logo {
    max-width: 150px;
    max-height: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-contacts {
    display: flex;
    align-items: center;
}

.header-contacts input {
    background: transparent;
    color: var(--text);
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    height: 35px;
}

.header-contact {
    margin-left: 10px;
    color: var(--text);
    font-size: 20px;
}

.menu,
.close,
.small {
    display: none;
}

/* header end */

/* swiper start */

.swiper-banner {
    width: 100%;
    height: 720px;
    position: relative;
    overflow: hidden;
}

.swiper-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.swiper-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    max-width: 450px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    margin-left: 30px;
    font-size: 35px;
    color: var(--text);
    display: none;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    margin-right: 30px;
    font-size: 35px;
    color: var(--text);
    display: none;
}

.swiper-title {
    font-size: 50px;
    margin-bottom: 15px;
    color: #fff;
}

.swiper:hover .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper:hover .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    display: block;
}

.swiper-txt {
    font-size: 36px;
    color: #ccc;
    margin-bottom: 15px;
}

.swiper-btn {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;

}

.swiper-pagination-bullet {
    border-radius: 0;
    width: 30px;
    height: 4px;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background: var(--accent);
}

/* swiper end */

/* category start */

.category {
    background: #222;
    padding: 20px 0;
}

.category .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 50px;
    flex-wrap: wrap;
}

.category-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-icon {
    font-size: 36px;
    color: #999;
    transition: .4s;
}

.category-title {
    color: #999;
    transition: .4s;
}

.category-card:hover .category-icon,
.category-card:hover .category-title {
    color: #ccc;
}

/* category end */

/* types start */

.types .container {
    padding: 50px 0;
    border-bottom: 1px solid #222;
}

.types-cards {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.types-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.types-card-img {
    max-width: 288px;
    max-height: 288px;
    overflow: hidden;
    margin-bottom: 10px;
}

.types-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.types-card-txt {
    font-size: 15px;
    max-width: 210px;
    text-align: center;
    color: var(--link);
    margin-bottom: 10px;
}

/* types end */

/* catalog start */

.catalog .container {
    padding: 50px 0;
}

.catalog-cards {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.catalog-card {
    width: 250px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #222;
    position: relative;
    transition: .5s;
}

.catalog-card:hover {
    box-shadow: 0 0 15px var(--accent);
    transform: scale(1.1);
}

.catalog-card-img {
    max-width: 220px;
    max-height: 150px;
    overflow: hidden;
}

.catalog-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalog-card-txt {
    font-size: 18px;
    color: #fff;
    text-align: center;
}

/* catalog end */

/* why start */

.why {
    padding: 50px 0;
}

.why-content {
    display: flex;
}

.why-video video,
.why-desc {
    width: 800px;
    max-height: 450px;
    background: #222;
    object-fit: cover;
}

.why-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.why-desc-title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
}

.why-desc-list {
    list-style: disc;
    color: var(--accent);
}

::marker {
    color: var(--accent);
}

.why-desc-item {
    color: var(--text);
    font-size: 18px;
    margin: 0 0 15px 20px;
}

.why-desc-item:nth-last-of-type(1) {
    margin-bottom: 0;
}

/* why end */

/* services start */

.services {
    padding: 50px 0;
}

.services-cards {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    gap: 30px;
}

.services-card {
    position: relative;
    transition: .5s;
}

.services-card:hover {
    box-shadow: 0 0 25px var(--accent);
}

.services-card-img {
    max-width: 290px;
    max-height: 270px;
    overflow: hidden;
    position: relative;
}

.services-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.service-card-link {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 111;
    background: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, .6) 40%, rgba(0, 0, 0, 0) 60%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 30px;
}

/* services end */

/* location start */

.location {
    padding: 50px 0;
}

.location-cards {
    display: flex;
    gap: 30px;
    flex-flow: wrap;
    justify-content: center;
}

.location-card {
    display: flex;
}

.location-card-img,
.location-card-content {
    max-width: 390px;
    max-height: 390px;
    overflow: hidden;
    background: #222;
}

.location-card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.location-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.location-card-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.location-card-txt {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--text);
    transition: .5s;
}

.location-card-txt:hover {
    color: var(--accent);
}

.location-card-txt i {
    margin-right: 10px;
    font-size: 24px;
}

/* location end */

/* footer start */

.footer {
    background: #222;
    padding: 50px 0 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #2f2f2f;
    padding-bottom: 50px;
    flex-flow: wrap;
}

.footer-item {
    margin-bottom: 10px;
    max-width: 400px;
}

.footer-link {
    color: var(--link);
    transition: .5s;
}

.footer-link:hover {
    color: var(--accent);
}

.footer-link i {
    font-size: 20px;
    margin-right: 10px;
}

.footer-span {
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    letter-spacing: 0.2px;
}

/* footer end */

/* services start */

.services-img {
    max-width: 500px;
    max-height: 450px;
    overflow: hidden;
}

.services-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services-content {
    top: 0;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 50px;
    background: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, .6) 40%, rgba(0, 0, 0, 0) 60%);
}

.services-content-title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
}

.services-content-subtitle {
    color: #ccc;
    font-size: 20px;
    font-weight: 500;
}

/* services end */

/* banner start */

.banner {
    position: relative;
}

.banner-video video {
    height: 800px;
    object-fit: cover;
    width: 100%;
    opacity: 0.7;
}

.banner .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    text-align: center;
}

.banner-title {
    font-size: 50px;
    color: #fff;
    margin-bottom: 15px;
}

.banner-subtitle {
    font-size: 36px;
    color: #ccc;
}

/* banner end */

/* info start */

.info {
    padding: 50px 0;
}

.info-txt {
    font-size: 24px;
    text-align: center;
    color: #ccc;
    width: 80%;
    margin: 0 auto;
}

/* info end */